
@mainBackground = #272C36;

@tableBackground = #16181F;
@tableAlternateBackground = #13151C;
@tableRowSelectedBackground = #1C252F;
@tableTextColor = #B4B4B4;
@tableTextSelected = #D2D2D2;
@tableGrid = #373C47;

@frameLeftRightBackground = #242932;
@frameLeftRightBorder = #32363F;
@frameSourceOutputBackground = #242932;
@frameSourceOutputText = #A0A5AA;
@frameSourceOutputBorder = #32363F;
@frameHintBackground = #202A30;
@frameBottomBackground = #202A30;
@frameHeaderBackground = #25272C;

@scrollBackground = #171920;
@scrollHandle = #1C1E26;
@scrollAddLineSubLine = #191B22;

@headerTextColor = #A0A5AA;
@headerBackground = #1C2026;
@headerBorder = #27272C;

@elementsTextColor = #B4B4B4;
@elementsTextDisabled = #62676F;
@elementsTextAbstractItem = #55AAFF;
@elementsBackgroundColor = #1B1D23;
@elementsBackgroundAbstractItem = #1B1D23;
@elementsBackgroundSelectedAbstractItem = #272C36;
@elementsBorderColor = #1B1D23;
@elementsBorderHover = #404758;
@elementsBorderDropDown = #22262E;
@elementsBorderRadius = 5px;


/**************************************************************************
**  QWidget
**************************************************************************/

QMainWindow {
    background: @mainBackground;
}
QMainWindow::separator {
    width: 1px;
    height: 1px;
    background: @mainBackground;
}

QWidget {
    background: @frameLeftRightBackground;
}
QWidget#centralwidget {
    background: #175C7F;
}
QWidget#widget_main {
    background: #175C7F;
}


/**************************************************************************
**  QFrame
**************************************************************************/

QFrame {
    border: none;
    background-color: @mainBackground;
}
QFrame#frameSplit,
QFrame#frameMetadata,
QFrame#frameLog,
QFrame#frameLeft,
QFrame#frameRight,
QFrame#frame_preview,
QFrame#frame_source,
QFrame#frame_output,
QFrame#frame_task {
    border-left: 1px solid @frameSourceOutputBorder;
    border-bottom: 1px solid @frameSourceOutputBorder;
    border-right: 1px solid @frameSourceOutputBorder;
    border-top: none;
    background-color: @frameLeftRightBackground;
}
QFrame#frameTaskHeader {
    border-top: 1px solid @frameSourceOutputBorder;
    background-color: @frameHeaderBackground;
}

QFrame#frame_middle,
QFrame#frameAltTab_1,
QFrame#frameAltTab_2
{
    border: none;
    background-color: @mainBackground;
}
QFrame#frame_bottom {
    border: none;
    /*border-top: 1px solid @frameSourceOutputBorder;*/
    background-color: @frameBottomBackground;
}
QFrame#frame_top {
    border: none;
    background-color: @frameHintBackground;
}
QFrame#frameTab_1, QFrame#frameTab_2, QFrame#frameTab_3, QFrame#frameTab_4,
QFrame#frameLeftTab_1, QFrame#frameLeftTab_2, QFrame#frameTab_5 {
    background-color: @tableBackground;
}


/**************************************************************************
**  QToolTip
**************************************************************************/

QToolTip {
    border: 1px solid #282828;
    border-radius: 2px;
    color: #ffffff;
    background-color: #1B1D23;
}


/**************************************************************************
**  QMenu
**************************************************************************/

QMenu {
    background-color: #1B1D23;
}
QMenu::item {
    color: #EFEFEF;
    background-color: transparent;
}
QMenu::item:selected {
    background-color: #05282D;
}


/**************************************************************************
**  QScrollBar
**************************************************************************/

QScrollBar {
    background: transparent;
}
QScrollBar:horizontal {
    height: 10px;
    margin: 0px 15px 0 15px;
    border: none;
    border-radius: 0px;
    background: @scrollBackground;
}
QScrollBar:vertical {
    width: 10px;
    margin: 15px 0 15px 0;
    border: none;
    border-radius: 0px;
    background: @scrollBackground;
}
QScrollBar::handle:horizontal {
    min-width: 25px;
    border-radius: 0px;
    background: @scrollHandle;
}
QScrollBar::handle:vertical {
    min-height: 25px;
    border-radius: 0px;
    background: @scrollHandle;
}
QScrollBar::add-line:horizontal {
    width: 14px;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: @scrollAddLineSubLine;
    subcontrol-position: right;
    subcontrol-origin: margin;
    image: url(:/resources/icons/16x16/cil-caret-right.png);
}
QScrollBar::add-line:vertical {
    height: 14px;
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: @scrollAddLineSubLine;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    image: url(:/resources/icons/16x16/cil-caret-bottom.png);
}
QScrollBar::sub-line:horizontal {
    width: 14px;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: @scrollAddLineSubLine;
    subcontrol-position: left;
    subcontrol-origin: margin;
    image: url(:/resources/icons/16x16/cil-caret-left.png);
}
QScrollBar::sub-line:vertical {
    height: 14px;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: @scrollAddLineSubLine;
    subcontrol-position: top;
    subcontrol-origin: margin;
    image: url(:/resources/icons/16x16/cil-caret-top.png);
}
QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal {
    background: none;
}
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    background: none;
}
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}


/**************************************************************************
**  QHeaderView
**************************************************************************/

QHeaderView {
    color: @headerTextColor;
    background-color: transparent;
}
QHeaderView::section:horizontal {
    height: 28px;
    border-top: 1px solid @headerBorder;
    border-bottom: 1px solid @headerBorder;
    border-right: 1px solid @headerBorder;
    border-radius: 0px;
    background-color: @headerBackground;
}
QHeaderView::section:vertical {
    border-bottom: 1px solid @headerBorder;
    /*border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;*/
    background-color: @headerBackground;
}
QHeaderView::up-arrow {
    width: 13px;
    height: 9px;
    subcontrol-position: center right;
    subcontrol-origin: padding;
}
QHeaderView::down-arrow {
    width: 13px;
    height: 9px;
    subcontrol-position: center right;
    subcontrol-origin: padding;
}


/**************************************************************************
**  QTableWidget
**************************************************************************/

QTableWidget {
    outline: none;
    padding-bottom: 0px;
    border-radius: 0px;
    color: @headerTextColor;
    background-color: @tableBackground;
    selection-background-color: #1C252F;
    /*gridline-style: solid;*/
    gridline-color: @tableGrid;
    alternate-background-color: @tableAlternateBackground;
}
QTableWidget::item {
    margin-left: 0px;
    margin-right: 0px;
}
QTableWidget::item:selected {
    margin: 0px;
    color: @tableTextSelected;
    background-color: @tableRowSelectedBackground;
}


/**************************************************************************
**  QTreeWidget
**************************************************************************/

QTreeWidget {
    outline: none;
    /*padding: 0px;
    border-radius: 0px;*/
    color: @headerTextColor;
    background-color: @tableBackground;
    alternate-background-color: @tableAlternateBackground;
}
QTreeWidget::item {
    min-height: 22px;
    /*margin-top: 2px 0;
    margin-bottom: 2px 0;
    margin-left: 0px 0;
    margin-right: 0px 0;*/
    margin-top: 2px;
    border-right: 1px solid @headerBorder;
    /*border: none;*/
}
QTreeWidget::item:selected {
    min-height: 22px;
    /*margin-top: 2px 0;
    margin-bottom: 2px 0;
    margin-left: 0px 0;
    margin-right: 0px 0;*/
    border: none;
    color: @tableTextSelected;
    background-color: #1C252F;
}
QTreeWidget::item:selected:active {
    min-height: 22px;
    /*margin-top: 2px 0;
    margin-bottom: 2px 0;
    margin-left: 0px 0;
    margin-right: 0px 0;*/
    border: none;
    color: @tableTextSelected;
    background-color: #1C252F;
}
QTreeWidget::item:selected:!active {
    min-height: 22px;
    /*margin-top: 2px 0;
    margin-bottom: 2px 0;
    margin-left: 0px 0;
    margin-right: 0px 0;*/
    border: none;
    color: @tableTextSelected;
    background-color: #1C252F;
}


QTreeView::branch {
    background: @tableBackground;
}
QTreeView::branch:has-siblings:!adjoins-item {
    background: @tableBackground;
}
QTreeView::branch:has-siblings:adjoins-item {
    background: @tableBackground;
}
QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    background: @tableBackground;
}
QTreeView::branch:closed:has-children:has-siblings {
    background: @tableBackground;
}
QTreeView::branch:has-children:!has-siblings:closed {
    background: @tableBackground;
}
QTreeView::branch:open:has-children:has-siblings {
    background: @tableBackground;
}
QTreeView::branch:open:has-children:!has-siblings {
    background: @tableBackground;
}


QTreeWidget::branch:has-siblings:!adjoins-item {
    padding-bottom: 2px 0;
    padding-top: 2px 0;
    padding-left: 4px 0;
    border-image: url(:/resources/icons/16x16/cil-null.png) 0;
}
QTreeWidget::branch:has-siblings:adjoins-item {
    padding-bottom: 2px 0;
    padding-top: 2px 0;
    padding-left: 4px 0;
    border-image: url(:/resources/icons/16x16/cil-null.png) 0;
}
QTreeWidget::branch:!has-children:!has-siblings:adjoins-item {
    padding-bottom: 2px 0;
    padding-top: 2px 0;
    padding-left: 4px 0;
    border-image: url(:/resources/icons/16x16/cil-null.png) 0;
}
QTreeWidget::branch:has-children:!has-siblings:closed,
QTreeWidget::branch:closed:has-children:has-siblings {
    padding-bottom: 2px 0;
    padding-top: 2px 0;
    padding-left: 4px 0;
    border-image: none;
    image: url(:/resources/icons/16x16/cil-arrow-right-.png);
}
QTreeWidget::branch:open:has-children:!has-siblings,
QTreeWidget::branch:open:has-children:has-siblings {
    padding-bottom: 2px 0;
    padding-top: 2px 0;
    padding-left: 4px 0;
    border-image: none;
    image: url(:/resources/icons/16x16/cil-arrow-bottom.png);
}


/**************************************************************************
**  QTabWidget
**************************************************************************/

QTabWidget {
    qproperty-tabPosition: North;
    color: @frameSourceOutputText;
    background-color: @frameSourceOutputBackground;
}
QTabWidget::tab-bar {
    alignment: left;
    background-color: @frameSourceOutputBackground;
}
QTabWidget::pane {
    top:-1px;
    border: 1px solid @frameLeftRightBorder;
    background-color: @frameSourceOutputBackground;
}

/*********************************************/

QTabWidget#tabWidgetRight {
    qproperty-tabPosition: North;
    color: @frameSourceOutputText;
    background-color: @frameSourceOutputBackground;
}
QTabWidget::tab-bar#tabWidgetRight {
    alignment: left;
    background-color: @frameSourceOutputBackground;
}
QTabWidget::pane#tabWidgetRight {
    top:-1px;
    border: 1px solid @frameLeftRightBorder;
    background-color: @frameSourceOutputBackground;
}

/*********************************************/

QTabWidget#tabWidgetSettings {
    qproperty-tabPosition: South;
    color: @frameSourceOutputText;
    background-color: @mainBackground;
}
QTabWidget::tab-bar#tabWidgetSettings {
    alignment: left;
    height: 0px;
    background-color: @mainBackground;
}
QTabWidget::pane#tabWidgetSettings {

    border: none;
    background-color: @mainBackground;
}


/**************************************************************************
**  QCheckBox
**************************************************************************/

QCheckBox {
    spacing: 12px;
    color: #A0A5AA;
    background-color: transparent;
}
QCheckBox:disabled {
    spacing: 12px;
    color: #A0A5AA;
    background-color: transparent;
}
QCheckBox::indicator {
    width: 12px;
    height: 12px;
    border: 2px solid #5A5A5A;
    background: none;
}
QCheckBox::indicator:disabled {
    width: 12px;
    height: 12px;
    border: 2px solid #3C3C3C;
    background: none;
}
QCheckBox::indicator:checked {
    width: 12px;
    height: 12px;
    border: 2px solid #5A5A5A;
    background: none;
    image: url(:/resources/icons/16x16/cil-check-alt.png);
}
QCheckBox::indicator:checked:disabled {
    width: 12px;
    height: 12px;
    border: 2px solid #3C3C3C;
    background: none;
    image: url(:/resources/icons/16x16/cil-check-alt.png);
}


/**************************************************************************
**  QComboBox
**************************************************************************/

QComboBox {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextColor;
    background-color: @elementsBackgroundColor;
}
QComboBox#comboBoxView {
    padding: 0px;
    padding-left: 22px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextColor;
    background-color: @elementsBackgroundColor;

    background-image: url(:/resources/icons/16x16/cil-screen-desktop.png);
    background-repeat: no-repeat;
    background-position: left;
}
QComboBox#comboBoxMode {
    padding: 0px;
    padding-left: 22px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextColor;
    background-color: @elementsBackgroundColor;

    background-image: url(:/resources/icons/16x16/cil-layers.png);
    background-repeat: no-repeat;
    background-position: left;
}
QComboBox#comboBoxPreset {
    padding: 0px;
    padding-left: 22px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextColor;
    background-color: @elementsBackgroundColor;

    background-image: url(:/resources/icons/16x16/cil-low-vision.png);
    background-repeat: no-repeat;
    background-position: left;
}
QComboBox:disabled {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextDisabled;
    background-color: @elementsBackgroundColor;
}
QComboBox:hover {
    border: 2px solid @elementsBorderHover;
}
QComboBox:hover#comboBoxView,
QComboBox:hover#comboBoxMode,
QComboBox:hover#comboBoxPreset {
    border: 2px solid @elementsBorderHover;
}
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left-width: 3px;
    border-left-color: @elementsBorderDropDown;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url(:/resources/icons/16x16/cil-arrow-bottom.png);
    background-position: center;
    background-repeat: no-reperat;
}
QComboBox QAbstractItemView {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
    color: @elementsTextAbstractItem;
    background-color: @elementsBackgroundAbstractItem;
    selection-background-color: @elementsBackgroundSelectedAbstractItem;
}
QComboBox QListView::item {
    min-height: 16px;
}


/**************************************************************************
**  QSpinBox
**************************************************************************/

QSpinBox, QDoubleSpinBox {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
    border: 2px solid #1B1D23;
    color: #B4B4B4;
    background-color: #1B1D23;
}
QSpinBox:disabled, QDoubleSpinBox:disabled {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
    border: 2px solid #1B1D23;
    color: #62676F;
    background-color: #1B1D23;
}
QSpinBox:hover, QDoubleSpinBox:hover {
    border: 2px solid #404758;
}
QSpinBox::up-button, QDoubleSpinBox::up-button {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left-width: 3px;
    border-left-color: #22262E;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url(:/resources/icons/16x16/cil-arrow-top.png);
    background-position: center;
    background-repeat: no-reperat;
}
QSpinBox::down-button, QDoubleSpinBox::down-button {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    width: 20px;
    border-left-width: 3px;
    border-left-color: #22262E;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url(:/resources/icons/16x16/cil-arrow-bottom.png);
    background-position: center;
    background-repeat: no-reperat;
}
QSpinBox QAbstractItemView, QDoubleSpinBox QAbstractItemView {
    padding: 5px;
    color: #55AAFF;
    background-color: #1B1D23;
    selection-background-color: #272C36;
}


/**************************************************************************
**  QLabel
**************************************************************************/

QLabel {
    color: #D2D2D2;
    background-color: transparent;
}
QLabel:disabled {
    color: @frameSourceOutputText;
    background-color: transparent;
}

QLabel#labelThumb {
    color: @frameHeaderBackground;
    font: 24pt;
    font-style: oblique;
    background-color: @frameSourceOutputBackground;
}

QLabel#labelSplitPreview {
    color: @frameHeaderBackground;
    font: 24pt;
    font-style: oblique;
    background-color: #050505;
}

QLabel#label_source,
QLabel#label_output {
    color: #DCDCDC;
    background-color: transparent;
}

QLabel#label_53,
QLabel#label_54,
QLabel#label_55{
    color: #62676F;
    background-color: transparent;
}


/**************************************************************************
**  QLineEdit
**************************************************************************/

QLineEdit {
    padding-left: 3px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: #DCDCDC;
    background-color: @elementsBackgroundColor;
}
QLineEdit:hover {
    border: 2px solid @elementsBorderHover;
}
QLineEdit:focus {
    border: 2px solid #5B657C;
}
QLineEdit:disabled {
    padding-left: 3px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: #696E78;
    background-color: @elementsBackgroundColor;
}

QLineEdit#lineEditGlobalTitle {
    padding-left: 20px;
    border-radius: 0px;
    border-left: 5px solid @elementsBorderColor;
    border-top: 2px solid @elementsBorderColor;
    border-bottom: 2px solid @elementsBorderColor;
    border-right: 2px solid @elementsBorderColor;
    color: #B4B4B4;
    background-color: @elementsBackgroundColor;
    background-image: url(:/resources/icons/16x16/cil-tags.png);
    background-repeat: no-repeat;
    background-position: left;
}
QLineEdit:hover#lineEditGlobalTitle {
    border: 2px solid @elementsBorderHover;
}
QLineEdit:focus#lineEditGlobalTitle {
    border: 2px solid #5B657C;
}
QLineEdit:disabled#lineEditGlobalTitle {
    padding-left: 20px;
    border-radius: 0px;
    border-left: 5px solid @elementsBorderColor;
    border-top: 2px solid @elementsBorderColor;
    border-bottom: 2px solid @elementsBorderColor;
    border-right: 2px solid @elementsBorderColor;
    color: #696E78;
    background-color: @elementsBackgroundColor;
}

QLineEdit:disabled#lineEditPreset {
    padding-left: 3px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: #B4B4B4;
    background-color: @elementsBackgroundColor;
}


/**************************************************************************
**  QTextBrowser
**************************************************************************/

QTextBrowser {
    border: 1px solid transparent;
    color: @headerTextColor;
    background-color: transparent;
}
QTextBrowser#textBrowser_task {
    border: 1px solid transparent;
    color: #D2D2D2;
    background-color: @mainBackground;
}
QTextBrowser#textBrowser_presetname {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    border: none;
    color: #D2D2D2;
    background-color: #1B1D23;
}
QTextBrowser#textBrowser_log {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    border: none;
    color: #B2B2B2;
    background-color: @tableBackground;
}

/**************************************************************************
**  QPushButton
**************************************************************************/

QPushButton {
        border: none;
        color: #DCDCDC;
        background-color: transparent;
}
QPushButton:hover {
        border: none;
        color: #55AAFF;
        background-color: transparent;
}
QPushButton:pressed {
        border: none;
        color: #343B48;
        background-color: transparent;
}
QPushButton::menu-indicator {
        height: 0px;
        background-color: transparent;
}

/*********************************************/

QPushButton#buttonReset {
        border: none;
        image: url(:/resources/icons/16x16/cil-history.png);
        color: @elementsTextColor;
        background-color: transparent;
}
QPushButton#buttonHotInputFile {
        border: none;
        image: url(:/resources/icons/12x12/cil-input.png);
        color: @elementsTextColor;
        background-color: transparent;
}
QPushButton#buttonHotOutputFile {
        border: none;
        image: url(:/resources/icons/12x12/cil-output.png);
        color: @elementsTextColor;
        background-color: transparent;
}
QPushButton#actionSettings {
        border: none;
        image: url(:/resources/icons/16x16/cil-settings.png);
        color: @elementsTextColor;
        background-color: transparent;
}
QPushButton#hideWindow {
        border: none;
        image: url(:/resources/icons/16x16/cil-window-minimize.png);
        color: @elementsTextColor;
        background-color: transparent;
}
QPushButton#expandWindow {
        border: none;
        /*image: url(:/resources/icons/16x16/cil-media-stop.png);*/
        color: @elementsTextColor;
        background-color: transparent;
}
QPushButton#closeWindow {
        border: none;
        image: url(:/resources/icons/16x16/cil-x.png);
        color: @elementsTextColor;
        background-color: transparent;
}
QPushButton#buttonCloseTaskWindow {
        border: none;
        padding: 5px;
        image: url(:/resources/icons/16x16/cil-x.png);
        color: @elementsTextColor;
        background-color: transparent;
}
QPushButton:hover#actionResetLabels,
QPushButton:hover#actionClearAudioTitles,
QPushButton:hover#actionClearSubtitleTitles,
QPushButton:hover#actionUndoTitles,
QPushButton:hover#actionClearMetadata,
QPushButton:hover#actionUndoMetadata,
QPushButton:hover#actionAdd_preset,
QPushButton:hover#actionRemove_preset,
QPushButton:hover#actionEdit_preset,
QPushButton:hover#actionAdd,
QPushButton:hover#actionRemove,
QPushButton:hover#buttonSortUp,
QPushButton:hover#buttonSortDown,
QPushButton:hover#actionStop,
QPushButton:hover#actionEncode,
QPushButton:hover#buttonReset,
QPushButton:hover#buttonHotInputFile,
QPushButton:hover#buttonHotOutputFile,
QPushButton:hover#actionSettings,
QPushButton:hover#hideWindow,
QPushButton:hover#expandWindow,
QPushButton:hover#closeWindow,
QPushButton:hover#buttonCloseTaskWindow {
        background-color: #343B48;
}
QPushButton:pressed#actionResetLabels,
QPushButton:pressed#actionClearAudioTitles,
QPushButton:pressed#actionClearSubtitleTitles,
QPushButton:pressed#actionUndoTitles,
QPushButton:pressed#actionClearMetadata,
QPushButton:pressed#actionUndoMetadata,
QPushButton:pressed#actionAdd_preset,
QPushButton:pressed#actionRemove_preset,
QPushButton:pressed#actionEdit_preset,
QPushButton:pressed#actionAdd,
QPushButton:pressed#actionRemove,
QPushButton:pressed#buttonSortUp,
QPushButton:pressed#buttonSortDown,
QPushButton:pressed#actionStop,
QPushButton:pressed#actionEncode,
QPushButton:pressed#buttonReset,
QPushButton:pressed#buttonHotInputFile,
QPushButton:pressed#buttonHotOutputFile,
QPushButton:pressed#actionSettings,
QPushButton:pressed#hideWindow,
QPushButton:pressed#expandWindow,
QPushButton:pressed#closeWindow,
QPushButton:pressed#buttonCloseTaskWindow {
        background-color: #55AAFF;
}


/*********************************************/

QPushButton#buttonTab_1,
QPushButton#buttonTab_2,
QPushButton#buttonTab_3,
QPushButton#buttonTab_4 {
    text-align: center right;
    padding-right: 12px;
    border: none;
    color: #A0A5AA;
    background-color: transparent;
}
QPushButton:disabled#buttonTab_1,
QPushButton:disabled#buttonTab_2,
QPushButton:disabled#buttonTab_3,
QPushButton:disabled#buttonTab_4 {
    border: none;
    color: #D2D2D2;
    background-color: #1B1D23;
}
QPushButton:hover#buttonTab_1,
QPushButton:hover#buttonTab_2,
QPushButton:hover#buttonTab_3,
QPushButton:hover#buttonTab_4 {
    background-color: #343B48;
}
QPushButton:pressed#buttonTab_1,
QPushButton:pressed#buttonTab_2,
QPushButton:pressed#buttonTab_3,
QPushButton:pressed#buttonTab_4 {
    background-color: #55AAFF;
}

/*********************************************/

QPushButton#buttonFramePrevious {
    padding-left: 2px;
    padding-right: 2px;
    text-align: right center;
    border: 0px solid #373C46;
    color: #D2D2D2;
    background-color: transparent;
    image: url(:/resources/icons/16x16/cil-frame-left.png);
    image-position: center;
}
QPushButton#buttonFrameNext {
    padding-left: 2px;
    padding-right: 2px;
    text-align: left center;
    border: 0px solid #373C46;
    color: #D2D2D2;
    background-color: transparent;
    image: url(:/resources/icons/16x16/cil-frame-right.png);
    image-position: center;
}
QPushButton#buttonTempPath,
QPushButton#buttonOutputPath {
    border: 1px solid #373C46;
    color: #D2D2D2;
    background-color: transparent;
    image: url(:/resources/icons/16x16/cil-options-horizontal.png);
    image-position: center;
}
QPushButton#buttonSetStartTime,
QPushButton#buttonSetEndTime,
QPushButton#buttonConfigure {
    border: 1px solid #373C46;
    color: #D2D2D2;
    background-color: transparent;
}
QPushButton:disabled#buttonFramePrevious,
QPushButton:disabled#buttonFrameNext,
QPushButton:disabled#buttonSetStartTime,
QPushButton:disabled#buttonSetEndTime,
QPushButton:disabled#buttonConfigure,
QPushButton:disabled#buttonTempPath,
QPushButton:disabled#buttonOutputPath {
    border: 1px solid #373C46;
    color: #62676F;
    background-color: transparent;
}
QPushButton:hover#buttonFramePrevious,
QPushButton:hover#buttonFrameNext,
QPushButton:hover#buttonSetStartTime,
QPushButton:hover#buttonSetEndTime,
QPushButton:hover#buttonConfigure,
QPushButton:hover#buttonTempPath,
QPushButton:hover#buttonOutputPath {
    background-color: #343B48;
}
QPushButton:pressed#buttonFramePrevious,
QPushButton:pressed#buttonFrameNext,
QPushButton:pressed#buttonSetStartTime,
QPushButton:pressed#buttonSetEndTime,
QPushButton:pressed#buttonConfigure,
QPushButton:pressed#buttonTempPath,
QPushButton:pressed#buttonOutputPath {
    background-color: #55AAFF;
}

/*********************************************/

QPushButton#buttonApplyPreset {
    border-radius: 0px;
    border: 1px solid #373C46;
    color: @frameSourceOutputText;
    background-color: transparent;
}
QPushButton:disabled#buttonApplyPreset
{
    border-radius: 0px;
    border: 1px solid #373C46;
    color: #62676F;
    background-color: transparent;
}
QPushButton:hover#buttonApplyPreset
{
    background-color: #343B48;
}
QPushButton:pressed#buttonApplyPreset
{
    background-color: #55AAFF;
}

/*********************************************/

QPushButton#buttonCancel,
QPushButton#buttonApply,
QPushButton#buttonPayPal,
QPushButton#buttonBitcoin {
    border-radius: 0px;
    border: 1px solid #646464;
    color: #FFFFFF;
    background-color: #1E2F50;
}

QPushButton:hover#buttonCancel,
QPushButton:hover#buttonApply,
QPushButton:hover#buttonPayPal,
QPushButton:hover#buttonBitcoin {
    border: 1px solid #3D4656;
    background-color: #394150;
}

QPushButton:pressed#buttonCancel,
QPushButton:pressed#buttonApply,
QPushButton:pressed#buttonPayPal,
QPushButton:pressed#buttonBitcoin {
    border: 1px solid #2B323D;
    background-color: #232831;
}


/**************************************************************************
**  QProgressBar
**************************************************************************/

QProgressBar {
    width: 15px;
    border-top-left-radius: @elementsBorderRadius;
    border-top-right-radius: @elementsBorderRadius;
    border-bottom-left-radius: @elementsBorderRadius;
    border-bottom-right-radius: @elementsBorderRadius;
    text-align: center;
    color: #D2D2D2;
    background: #0B101A;
}
QProgressBar::chunk {
    border-top-left-radius: @elementsBorderRadius;
    border-top-right-radius: @elementsBorderRadius;
    border-bottom-left-radius: @elementsBorderRadius;
    border-bottom-right-radius: @elementsBorderRadius;
    background: #133685;
}

/*********************************************/

QProgressBar#progressBar_opening {
    width: 15px;
    border-top-left-radius: @elementsBorderRadius;
    border-top-right-radius: @elementsBorderRadius;
    border-bottom-left-radius: @elementsBorderRadius;
    border-bottom-right-radius: @elementsBorderRadius;
    text-align: center;
    color: #D2D2D2;
    background: #0B101A;
}
QProgressBar::chunk#progressBar_opening {
    border-top-left-radius: @elementsBorderRadius;
    border-top-right-radius: @elementsBorderRadius;
    border-bottom-left-radius: @elementsBorderRadius;
    border-bottom-right-radius: @elementsBorderRadius;
    background: #133685;
}


/**************************************************************************
**  QSlider
**************************************************************************/

QSlider {
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
}
QSlider::groove:horizontal {
    height: 6px;
    padding-left: -4px;
    padding-right: -4px;
    border: 1px solid #082028;
    border-radius: 0px;
    background-color: #082028;
}
QSlider::sub-page:horizontal {
    border: 1px solid #08283C;
    border-radius: 0px;
    background-color: #08283C;
}
QSlider::handle:horizontal {
    image: url(:/resources/icons/16x16/cil-cursor-center.png);
    width: 16px;
    padding-left: -4px;
    padding-right: -4px;
    margin-top: -5px;
    margin-bottom: -5px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}
QSlider::sub-page:horizontal:disabled {
    border: 1px solid #082028;
    border-radius: 0px;
    background-color: #082028;
}
QSlider::handle:horizontal:disabled {
    width: 16px;
    padding-left: -4px;
    padding-right: -4px;
    margin-top: -5px;
    margin-bottom: -5px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

/*********************************************/

QSlider#horizontalSlider_resize {
    padding-left: 22px;
    padding-right: 5px;
    border: 1px dotted #082028;
    background-color: transparent;

    background-image: url(:/resources/icons/16x16/cil-screen-desktop.png);
    background-repeat: no-repeat;
    background-position: left;
}
QSlider::groove:horizontal#horizontalSlider_resize {
    height: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border: 0px solid #082028;
    border-radius: 2px;
    background-color: #082028;
}
QSlider::sub-page:horizontal#horizontalSlider_resize {
    border: 0px solid #08283C;
    border-radius: 2px;
    background-color: #08283C;
}
QSlider::handle:horizontal#horizontalSlider_resize {
    image: none;
    width: 8px;
    padding: 0px;
    margin: -4px;
    border: 1px solid #175C7F;
    border-radius: 4px;
    background-color: #175C7F;
}
QSlider::sub-page:horizontal:disabled#horizontalSlider_resize {
    border: 0px solid #082028;
    border-radius: 2px;
    background-color: #082028;
}
QSlider::handle:horizontal:disabled#horizontalSlider_resize {
    width: 8px;
    padding: 0px;
    margin: -4px;
    border: 1px solid #22252D;
    border-radius: 4px;
    background-color: #22252D;
}


/**************************************************************************
**  QGroupBox
**************************************************************************/

QGroupBox {
    border: 1px solid @frameLeftRightBorder;
    margin-top: 12px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: @frameSourceOutputBackground;
}
QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    top: 0 ex;
    left: 12px;
    padding: 5px 5px;
    color: @frameSourceOutputText;
}

/*********************************************/

QGroupBox#groupBoxSettings_1,
QGroupBox#groupBoxSettings_2,
QGroupBox#groupBoxSettings_3,
QGroupBox#groupBoxSettings_4,
QGroupBox#groupBoxSettings_5,
QGroupBox#groupBoxSettings_6,
QGroupBox#groupBoxSettings_7,
QGroupBox#groupBoxSettings_8,
QGroupBox#groupBoxSettings_9,
QGroupBox#groupBoxSettings_10
{
    border: 1px solid @frameLeftRightBorder;
    margin-top: 21px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: @frameSourceOutputBackground;
}
QGroupBox::title#groupBoxSettings_1,
QGroupBox::title#groupBoxSettings_2,
QGroupBox::title#groupBoxSettings_3,
QGroupBox::title#groupBoxSettings_4,
QGroupBox::title#groupBoxSettings_5,
QGroupBox::title#groupBoxSettings_6,
QGroupBox::title#groupBoxSettings_7,
QGroupBox::title#groupBoxSettings_8,
QGroupBox::title#groupBoxSettings_9,
QGroupBox::title#groupBoxSettings_10
{
    subcontrol-origin: margin;
    subcontrol-position: top left;
    top: -1 ex;
    left: 6px;
    padding: 0px 0px 0px 0px;
    color: #D2D2D2;
}


/**************************************************************************
**  VLine
**************************************************************************/

QFrame[frameShape="4"],
QFrame[frameShape="5"] {
    border: none;
    background-color: #353548;
}


/**************************************************************************
**  QDockWidget
**************************************************************************/

QDockWidget {
    titlebar-close-icon: url(:/resources/icons/16x16/cil-x.png);
    titlebar-normal-icon: url(:/resources/icons/16x16/cil-pin.png);
    color: @frameSourceOutputText;
}
QDockWidget::title {
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center left;
    border-left: 1px solid @frameSourceOutputBorder;
    border-top: 1px solid @frameSourceOutputBorder;
    border-right: 1px solid @frameSourceOutputBorder;
    background: @frameHeaderBackground;
}
QDockWidget::close-button,
QDockWidget::float-button {
    icon-size: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    background: @frameHeaderBackground;
}
QDockWidget::close-button:hover,
QDockWidget::float-button:hover {
    background: #343B48;
}
QDockWidget::close-button:pressed,
QDockWidget::float-button:pressed {
    background-color: #55AAFF;
}
QDockWidget::close-button {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    top: 1px; bottom: 0px; right: 1px;
    subcontrol-position: center right;
    subcontrol-origin: margin;
    position: absolute;

}
QDockWidget::float-button {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    top: 1px; bottom: 0px; right: 24px;
    subcontrol-position: center right;
    subcontrol-origin: margin;
    position: absolute;

}

QTabBar, QDockWidget QTabBar {
    /*qproperty-drawBase: 0;*/
    color: @frameSourceOutputText;
}
QTabBar::tab, QDockWidget QTabBar::tab {
}

QTabBar::tab:top, QDockWidget QTabBar::tab:top {
    min-width: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid @frameLeftRightBorder;
    background-color: @frameSourceOutputBackground;
}
QTabBar::tab:top:selected, QDockWidget QTabBar::tab:top:selected {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -1px;
    border: 1px solid @frameLeftRightBorder;
    background-color: @tableBackground;
}
QTabBar::tab:top:!selected, QDockWidget QTabBar::tab:top:!selected {
    background-color: @frameSourceOutputBackground;
}

QTabBar::tab:bottom, QDockWidget QTabBar::tab:bottom {
    min-width: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: @frameSourceOutputBackground;
}
QTabBar::tab:bottom:selected, QDockWidget QTabBar::tab:bottom:selected {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -1px;
    border-left: 1px solid @frameLeftRightBorder;
    border-right: 1px solid @frameLeftRightBorder;
    border-bottom: 1px solid @frameLeftRightBorder;
    border-top: none;
    background-color: @frameHeaderBackground;
}
QTabBar::tab:bottom:!selected, QDockWidget QTabBar::tab:bottom:!selected {
    background-color: @frameSourceOutputBackground;
}
